{% extends 'configsociete/template.html.twig' %}

{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">

            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Société </h6>
                <small> Modification de la Société</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow  table-responsive">
            <a type="button" class="btn btn-outline-dark" href="{{ path('configsociete_show') }}"
               style="margin-bottom: 10px;"><span class="oi oi-arrow-left"></span> Retour</a>

            {{ form_start(form) }}
            <div class="row py-3" style="margin-bottom: -40px">
                <div class="col-md-12 form-group">
                    {{ form_label(form.typeEntreprise) }}
                    {{ form_widget(form.typeEntreprise) }}
                    <span class="text-danger">{{ form_errors(form.typeEntreprise) }}</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 form-group">
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code) }}
                    <span class="text-danger">{{ form_errors(form.code) }}</span>
                </div>
                <div class="col-md-2 form-group">
                    {{ form_label(form.banque) }}
                    {{ form_widget(form.banque) }}
                    <span class="text-danger">{{ form_errors(form.banque) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.raisonSociale) }}
                    {{ form_widget(form.raisonSociale) }}
                    <span class="text-danger">{{ form_errors(form.raisonSociale) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.ville) }}
                    {{ form_widget(form.ville) }}
                    <span class="text-danger">{{ form_errors(form.ville) }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 form-group">
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse) }}
                    <span class="text-danger">{{ form_errors(form.adresse) }}</span>
                </div>
                <div class="col-md-2 form-group">
                    {{ form_label(form.pays) }}
                    {{ form_widget(form.pays) }}
                    <span class="text-danger">{{ form_errors(form.pays) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.telephone) }}
                    {{ form_widget(form.telephone, {'attr' : {'class' : 'form-control telMask'}}) }}
                    <span class="text-danger">{{ form_errors(form.telephone) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <span class="text-danger">{{ form_errors(form.email) }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.ifu) }}
                    {{ form_widget(form.ifu) }}
                    <span class="text-danger">{{ form_errors(form.ifu) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.registreCommerce) }}
                    {{ form_widget(form.registreCommerce, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(form.registreCommerce) }}</span>
                </div>
                <div class="col-md-4 form-group formeJuridique">
                    {{ form_label(form.formeJuridique) }}
                    {{ form_widget(form.formeJuridique) }}
                    <span class="text-danger">{{ form_errors(form.formeJuridique) }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 form-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                    <span class="text-danger">{{ form_errors(form.nom) }}</span>
                </div>
                <div class="col-md-2 form-group">
                    {{ form_label(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                    <span class="text-danger">{{ form_errors(form.prenom) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.fonctionRepresentant) }}
                    {{ form_widget(form.fonctionRepresentant) }}
                    <span class="text-danger">{{ form_errors(form.fonctionRepresentant) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.capital) }}
                    {{ form_widget(form.capital) }}
                    <span class="text-danger">{{ form_errors(form.capital) }}</span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.rib) }}
                    {{ form_widget(form.rib) }}
                    <span class="text-danger">{{ form_errors(form.rib) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.typeActivite) }}
                    {{ form_widget(form.typeActivite) }}
                    <span class="text-danger">{{ form_errors(form.typeActivite) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.devise) }}
                    {{ form_widget(form.devise) }}
                    <span class="text-danger">{{ form_errors(form.devise) }}</span>
                </div>
                <div class="col-md-2 form-group" hidden>
                    {{ form_label(form.exportation) }}
                    <div style="width:10%">
                    {{ form_widget(form.exportation) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.siteWeb) }}
                    {{ form_widget(form.siteWeb) }}
                    <span class="text-danger">{{ form_errors(form.siteWeb) }}</span>
                </div>
                <div class="col-md-4 form-group estprofessionLiberale">
                    {{ form_label(form.estProfessionLiberale) }}
                    {{ form_widget(form.estProfessionLiberale) }}
                    <span class="text-danger">{{ form_errors(form.estProfessionLiberale) }}</span>
                </div>
                <div class="col-md-4 form-group assujetiTva">
                    {{ form_label(form.assujetiTva) }}
                    {{ form_widget(form.assujetiTva) }}
                    <span class="text-danger">{{ form_errors(form.assujetiTva) }}</span>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.ifuFile) }}
                    {{ form_widget(form.ifuFile) }}
                    <span class="text-danger">{{ form_errors(form.ifuFile) }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.registreFile) }}
                    {{ form_widget(form.registreFile) }}
                    <span class="text-danger">{{ form_errors(form.registreFile) }}</span>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Appliquer la modification</button>
            {{ form_end(form) }}

        </div>
    </main>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('frontend/js/configSociete/societe.js') }}"></script>

{% endblock %}