{% extends 'configpays/template.html.twig' %}

{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">

            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Pays</h6>
                <small> Affichage d'un Pays</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow table-responsive">
            <a type="button" class="btn btn-outline-dark" href="{{ path('configpays_index') }}"
               style="margin-bottom: 10px;"><span class="oi oi-arrow-left"></span> Retour à la liste</a>
            <a class="btn btn-outline-dark"
               href="{{ path('configpays_edit', { 'id': configPay.id }) }}"
               style="margin-bottom: 10px;"><span class="oi oi-pencil"></span>Modifier</a>
            {{ include("messageSucces.html.twig") }}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Libelle</th>
                    <td>{{ configPay.name }}</td>
                </tr>
                <tr>
                    <th>Code Pays</th>
                    <td>{{ configPay.pays.isoCode }}</td>
                </tr>
                <tr>
                    <th>Taux TVA</th>
                    <td>{{ configPay.pays.tauxTva }}</td>
                </tr>
                <tr>
                    <th>Taux AIB</th>
                    <td>{{ configPay.pays.tauxAIB }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
