{% extends 'configabonnementsociete/template.html.twig' %}

{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">

            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Abonnement </h6>
                <small> Affichage d'abonnement'</small>
            </div>
        </div>


        <div class="my-3 p-3 bg-white rounded box-shadow  table-responsive">
            <a type="button" class="btn btn-outline-dark" href="{{ path('config_abonnement_societe_historique') }}"
               style="margin-bottom: 10px;"><span class="oi oi-arrow-left"></span> Retour à la liste</a>

            {% if configAbonnement.estSupprimer == 0 %}
                <a class="btn btn-outline-dark"
                   href="{{ path('supprimmer_abonnement_societe_par_admin_clt', { 'id': configAbonnement.id }) }}"
                   style="margin-bottom: 10px;"><span class="oi oi-trash"></span>Supprimer</a>
            {% else %}
                <a class="btn btn-outline-dark"
                   href="{{ path('supprimmer_abonnement_societe_par_admin_clt', { 'id': configAbonnement.id }) }}"
                   style="margin-bottom: 10px;"><span class="oi oi-delete"></span> Annuler Suppression</a>
            {% endif %}


            {{ include("messageSucces.html.twig") }}
            {{ include("messageEchec.html.twig") }}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Libelle</th>
                    <td>{{ configAbonnement.libelle }}</td>
                </tr>
                <tr>
                    <th>Début Abonnement</th>
                    <td>{% if configAbonnement.debutAbonnement %}{{ configAbonnement.debutAbonnement|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Fin Abonnement</th>
                    <td>{% if configAbonnement.finAbonnement %}{{ configAbonnement.finAbonnement|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Automatique</th>
                    <td>{% if configAbonnement.reabonnementAuto %}Yes{% else %}No{% endif %}</td>                </tr>
                <tr>
                    <th>Détails</th>
                    <td>{{ configAbonnement.noteDetails }}</td>
                </tr>
                <tr>
                    <th>Actif</th>
                    <td>{% if configAbonnement.estActif %}Oui{% else %}Non{% endif %}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{% if configAbonnement.createdAt %}{{ configAbonnement.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
