<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ absolute_url(asset('frontend/css/bootstrap2.min.css')) }}"/>
    {#<link rel="stylesheet" href="{{ absolute_url(asset('frontend/css/bootstrap.min.css')) }}"/>#}
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}
    <link rel="stylesheet" href="{{ absolute_url(asset('frontend/css/style.css')) }}"/>
    <link rel="stylesheet" href="{{ absolute_url(asset('frontend/css/impression.css')) }}"/>
    <style>
        /*table, th, tr, td {*/
        /*margin-top: 0px;*/
        /*margin-bottom: 0px;*/
        /*}*/
        * {
            font-family: 'Century Gothic Regular', 'Arial', 'sans-serif';
            font-size: 11pt;
        }
    </style>
</head>

<body>
<div class="row">
    <div class="col-xs-4 pull-left">
        <img src="{{ urlLogo }}" height="150" width="150" class="img-thumbnail">
    </div>
    <div class="col-xs-4 pull-right">
        <div style="font-weight: bold">
            {#<p><span class="p1"><u>Facture</u></span></p>#}
            <p><span class="p1"><u>{{ clientFacture.typeFacture.libelle }}</u></span></p>
            <p><span class="p2">Réf: {{ clientFacture.reference }}</span></p>
            {% if clientFacture.typeFacture.avoir == true %}
            <p>
                <span class="p2">Réf Facture Origine: {{ clientFacture.referenceFactureOrigine }}</span></p> {% endif %}
            <p>
                <span class="p2">Date facturation: {% if clientFacture.dateFacture %}{{ clientFacture.dateFacture|date('d/m/Y') }}{% endif %}</span>
            </p><p>
                <span class="p2">Date échéance: {% if clientFacture.dateReglement %}{{ clientFacture.dateReglement|date('d/m/Y') }}{% endif %}</span>
            </p><p>
                <span class="p2">Taux TVA: {{ clientFacture.tauxTVA }} %</span>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 pull-left">
        <p class="titre2"><u>Société</u></p>
        {#<div class="bordure_noire">#}
        <div>
            <p><span class="p1"></span></p>
            <p><span class="p2"><b>{{ societe.raisonSociale }}</b></span></p>
            <p><span class="p2">{{ societe.adresse }}</span></p>
            <p><span class="p2"><b>IFU: </b>{{ societe.ifu }}</span></p>
            <p><span class="p2"><b>RCCM: </b>{{ societe.registreCommerce }}</span></p>
            <p><span class="p2"><b>Tél: </b>{{ societe.telephone }}</span></p>
            {% if societe.email %}<p><span style="font-size:13.0pt;"><b>Mail: </b>{{ societe.email }}</span>
                </p>{% endif %}
        </div>
    </div>
    <div class="col-xs-6 pull-right text-right">
        <p class="titre2"><u>Client</u></p>
        {#<div class="bordure_noire">#}
        <div>
            <div style="font-weight: bold">
                <p><span class="p1">{{ clientFacture.client.nom }}</span></p>
                <p><span class="p2">{{ clientFacture.client.adresse }}</span></p>
                <p><span class="p2"><b>IFU: </b>{{ clientFacture.client.ifu }}</span></p>
                <p><span class="p2"><b>Tél: </b>{{ clientFacture.client.telephone }}</span></p>
                {% if clientFacture.client.mail %}<p><span
                            style="font-size:13.0pt;"><b>Mail: </b>{{ clientFacture.client.mail }}</span></p>{% endif %}
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>N°</th>
            <th>Désignation</th>
            <th>Qté</th>
            <th>PU HT</th>
            <th>AIB</th>
            <th>Montant HT</th>
            <th>Groupe Taxe</th>
        </tr>
        </thead>
        <tbody>
        {% for detail in clientFacture.details %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ detail.produit.designation }}</td>
                <td>{{ detail.quantite }}</td>
                <td>{{ detail.prixVenteUnitaire  |number_format(0, ',', ' ') }}</td>
                <td>{{ detail.tauxAIB }}</td>
                <td>{{ ((detail.quantite * detail.prixVenteUnitaire)*(1-(detail.tauxRemise/100))) |number_format(0, ',', ' ') }}</td>
                <td>{{ detail.produit.taxeGroupe.code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="row">
        <div class="col-xs-6">
            {% if clientFacture.notes %}
                <p class="text-center"><b>Notes et termes:</b></p>
                <div class="bordure_noire">
                        {{ clientFacture.notes |raw }}
                </div>
            {% endif %}
        </div>
        <div class="col-xs-6">
            <p class="text-center"><b>Totaux:</b></p>
            <table class="table table-striped table-responsive">
                <tbody>
                <tr>
                    <th>Montant total HT</th>
                    <td>
                        <strong>{{ montantTotalHT |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                    </td>
                </tr>
                {% if montantTotalTVA > 0 %}
                    <tr>
                        <th>Montant total TVA</th>
                        <td>
                            <strong>{{ montantTotalTVA |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                        </td>
                    </tr>
                {% endif %}
                {% if totalTaxeSpecifique > 0 %}
                    <tr>
                        <th>Total Taxe spécifique</th>
                        <td>
                            <b>{{ totalTaxeSpecifique |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</b>
                        </td>
                    </tr>
                {% endif %}
                {% if montantTotalAIB > 0 %}
                    <tr>
                        <th>Montant total AIB</th>
                        <td>
                            <strong>{{ montantTotalAIB |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Montant total TTC</th>
                    <td>
                        <strong>{{ montantTotalTTC |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                    </td>
                </tr>
                <tr>
                    <th>Net à payer</th>
                    <td>
                        <strong>{{ montantTotalAPayer |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>