{% extends 'stockarticle/template.html.twig' %}

{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">

            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Article </h6>
                <small> Fiche Article</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <a type="button" class="btn btn-outline-dark" href="{{ path('stockarticle_index') }}"
               style="margin-bottom: 10px;"><span class="oi oi-arrow-left"></span> Retour à la liste</a>
            <a class="btn btn-outline-dark"
               href="{{ path('stockarticle_edit', { 'id': stockArticle.id }) }}"
               style="margin-bottom: 10px;"><span class="oi oi-pencil"></span>Modifier</a>
            {{ include("messageSucces.html.twig") }}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Référence</th>
                    <td>{{ stockArticle.reference }}</td>
                </tr>
                <tr>
                    <th>Référence Interne</th>
                    <td>{{ stockArticle.referenceInterne }}</td>
                </tr>
                <tr>
                    <th>Désignation</th>
                    <td>{{ stockArticle.designation }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ stockArticle.categorie.libelle }}</td>
                </tr>
                <tr>
                    <th>Prix Unitaire Vente</th>
                    <td>{{ stockArticle.prixUnitaireVente |number_format(0, ',', ' ')  }}</td>
                </tr>
                <tr>
                    <th>Groupe de taxe</th>
                    <td>{{ stockArticle.taxeGroupe.libelle }}</td>
                </tr>
                <tr>
                    <th>Agence</th>
                    <td>{{ stockArticle.agenceId.libelle }}</td>
                </tr>

                <tr>
                    <th>Prix Unitaire TTC</th>
                    <td>{{ prixUnitaireTTC |number_format(0, ',', ' ')  }}</td>
                </tr>
                <tr>
                    <th>Stock Disponible</th>
                    <td>{{ stockArticle.stockDisponible }}</td>
                </tr>
                <tr>
                    <th>Stock Alerte</th>
                    <td>{{ stockArticle.stockAlerte }}</td>
                </tr>
                <tr>
                    <th>Stock Minimum</th>
                    <td>{{ stockArticle.stockMinimum }}</td>
                </tr>
                <tr>
                    <th>Descripton</th>
                    <td>{{ stockArticle.description }}</td>
                </tr>
                </tbody>
            </table>

            {#            {{ form_start(delete_form) }}#}
            {#                <input type="submit" value="Delete">#}
            {#            {{ form_end(delete_form) }}#}
        </div>
    </main>
{% endblock %}
