{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clientpaiement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clientPaiement.id }}</td>
            </tr>
            <tr>
                <th>Datepaiement</th>
                <td>{% if clientPaiement.datePaiement %}{{ clientPaiement.datePaiement|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ clientPaiement.montant }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if clientPaiement.created %}{{ clientPaiement.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if clientPaiement.updatedAt %}{{ clientPaiement.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Userpublicid</th>
                <td>{{ clientPaiement.userPublicId }}</td>
            </tr>
            <tr>
                <th>Supprimer</th>
                <td>{% if clientPaiement.supprimer %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clientpaiement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('clientpaiement_edit', { 'id': clientPaiement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
