{% extends 'clientdevis/template.html.twig' %}

{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">

            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Devis </h6>
                <small> Affichage d'un devis</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow  table-responsive">

            <div class="btn-group">
                <a type="button" class="btn btn-outline-dark" href="{{ path('clientdevis_index') }}"
                   style="margin-bottom: 10px; margin-right: 20px"><span class="oi oi-arrow-left"></span> Retour à la
                    liste</a>
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                            id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" data-toggle="modal" data-target="#modal_print_facture">
                            Imprimer
                        </button>
                        {% if clientFacture.estValide == false %}
                            <a class="dropdown-item"
                               href="{{ path('clientdevis_edit', { 'id': clientFacture.id }) }}">
                                Modifier
                            </a>
                            <a class="dropdown-item"
                               href="{{ path('clientfacturevente_new', { 'devis': clientFacture.id }) }}">
                                Créer Facture Vente
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {{ include("messageSucces.html.twig") }}
            {{ include("messageEchec.html.twig") }}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Référence</th>
                    <td>{{ clientFacture.reference }}</td>
                </tr>
                {% if clientFacture.estValide %}
                    <tr>
                        <th>Facture Vente</th>
                        <td>
                            <a href="{{ path('clientfacturevente_show', { 'id': factureVente.id }) }}">{{ clientFacture.referenceFactureVenteGenere }}</a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Client</th>
                    <td>{{ clientFacture.client.nom }}</td>
                </tr>
                <tr>
                    <th>Date Facture</th>
                    <td>{% if clientFacture.dateFacture %}{{ clientFacture.dateFacture|date('d/m/Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Taux TVA</th>
                    <td>{{ clientFacture.tauxTVA }}</td>
                </tr>
                {#<tr>
                    <th>Taux AIB</th>
                    <td>#}{#{{ clientFacture.tauxAIB }}#}{#NEL</td>
                </tr>#}
                <tr>
                    <th>Est validé</th>
                    <td>{% if clientFacture.estValide %}Oui{% else %}Non{% endif %}</td>
                </tr>
                </tbody>
            </table>
            <caption>Détails Facture</caption>
            <table class="table table-bordered dataTableResponsive">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Référence</th>
                    <th>Désignation</th>
                    <th>Unité Mesure</th>
                    <th>Qté</th>
                    <th>Prix Unité</th>
                    {#<th>Taux Remise (%)</th>#}
                    <th>Montant HT</th>
                    <th>Groupe taxe</th>
                    <th>Description</th>
                    <th>Taxe Spécifique</th>
                    <th>Changement Prix Origine ?</th>
                </tr>
                </thead>
                <tbody>
                {% for detail in clientFacture.details %}
                    <tr>
                        {# <td><a href="{{ path('stockarticle_show', { 'id': stockArticle.id }) }}">{{ loop.index }}</a> #}
                        <td>{{ loop.index }}</td>
                        <td>{{ detail.produit.reference }}</td>
                        <td>{{ detail.produit.designation }}</td>
                        <td>{{ detail.uniteMesure.libelle }}</td>
                        <td>{{ detail.quantite }}</td>
                        <td>{{ detail.prixVenteUnitaire  |number_format(0, ',', ' ') }}</td>
                        {#<td>{{ detail.tauxRemise }}</td>#}
                        <td>{{ ((detail.quantite * detail.prixVenteUnitaire)*(1-(detail.tauxRemise/100))) |number_format(0, ',', ' ') }}</td>
                        <td>{{ detail.produit.taxeGroupe.code }}</td>
                        <td>
                            {% if detail.description %}
                                {{ detail.description }}
                            {% endif %}
                        </td>
                        <td>
                            {% if detail.hasTaxeSpecifique %}
                                <div class="card">
                                    <div class="card-body">
                                        {# <span><b><u>Taxe Spécifique:</u></b></span> {{ detail.produit.valeurTaxeSpecifique }} % #}
                                        <span><b><u>Taux:</u></b> {{ detail.taxeSpecifique }} %</span><br>

                                        <span><b><u>Description:</u></b></span>
                                        {{ detail.descriptionTaxeSpecifique |raw }}
                                        <br>
                                        <span><b><u>Montant:</u></b></span>
                                        {{ ((detail.quantite * detail.prixVenteUnitaire)*(1-(detail.tauxRemise/100))
                                        *(detail.taxeSpecifique/100)) |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if detail.changementPrixUnitaireTTC %}
                                {# <p class="card-header text-center"><b>Dernier Prix Origine:</b></p> #}
                                <div class="card">
                                    <div class="card-body">
                                        <span><b><u>Dernier Prix Origine:</u></b></span> {{ detail.dernierPrixOrigine }} {{ clientFacture.devise.symbole }}
                                        <br>
                                        <span><b><u>Cause du changement:</u></b></span> {{ detail.descriptionPrixOrigine }}
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <hr>
            <div class="row">
                <div class="col-md-6 form-group">
                    <p class="card-header text-center"><b>Notes et termes:</b></p>
                    <div class="card">
                        <div class="card-body">
                            {{ clientFacture.notes |raw }}
                        </div>
                    </div>
                </div>
                <div class="col-md-2 form-group">
                </div>
                <div class="col-md-4 form-group">
                    {# <p>Montant total: <strong>{{ montantTotal |number_format(0, ',', ' ') }} Fcfa</strong></p> #}
                    <table class="table table-striped table-responsive">
                        <tbody>
                        <tr>
                            <th>Montant total HT</th>
                            <td>
                                <strong>{{ montantTotalHT |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <th>Montant total TVA</th>
                            <td>
                                <strong>{{ montantTotalTVA |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                            </td>
                        </tr>
                        {% if totalTaxeSpecifique > 0 %}
                            <tr id="rowTotal_TaxeSpecifique">
                                <th>Total Taxe spécifique</th>
                                <td>
                                    <b>{{ totalTaxeSpecifique |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</b>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Montant total AIB</th>
                            <td>
                                <strong>{{ montantTotalAIB |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <th>Montant total TTC</th>
                            <td>
                                <strong>{{ montantTotalTTC |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <th>Net à payer</th>
                            <td>
                                <strong>{{ montantTotalAPayer |number_format(0, ',', ' ') }} {{ clientFacture.devise.symbole }}</strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {# {{ form_start(delete_form) }} #}
            {# <input type="submit" value="Delete"> #}
            {# {{ form_end(delete_form) }} #}
        </div>

        {# Modal validation #}
        <div class="modal fade" id="modal_validation" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Validation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="form_new_paiement"></div>
                        <p>Êtes-vous sûr de vouloir valider cette facture sous la référence
                            <b>{{ clientFacture.reference }} ?</b></p>
                        {# Les quantités des articles figurant sur la facture seront déduites de leurs stocks disponibles.</p> #}
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-primary"
                           href="{{ path('clientfacture_valider', {'id': clientFacture.id }) }}">
                            <span class="oi oi-check"></span> Valider</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>

        {# Modal impression #}
        <div class="modal fade" id="modal_print_facture" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titreDoc">Facture validée</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow-y: auto">
                        <input id="filepath_can" type="hidden" name="filepath"/>
                        <div id="loading_frame" class="text-center"></div>
                        <div id="preview_facture" style="width: 100%; height: 500px;" class="pdfContainer">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Fermer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.dt-buttons').hide();
            {# $(document).ready(function () { #}
            {# $('[data-toggle="popover"]').popover(); #}
            {# $('.popover_supprimer').popover({ #}
            {# html: true, #}
            {# content: $('#confirm_delete').html(), #}
        });
    </script>
    <!-- Aperçu PDF facture -->
    <script>
        $('#modal_print_facture').on('shown.bs.modal', function () {
            // console.log('work');
            $('#preview_facture').empty();
            $("#loading_frame").html('<div class="spinner-border text-primary"></div>');
            var facture_id = {{ clientFacture.id }};
            $.ajax({
                type: "POST",
                url: Routing.generate('clientdevis_print', {'id': facture_id}),
                // , data: {
                //     // precontrat_id: precontrat_id,
                // },
                success: function (data) {
                    console.log(data);
                    $("#loading_frame").empty();
                    // $('#preview_facture').html(data);
                    var url = data['url'];
                    var filePath = data['filePath'];
                    $('#filepath_can').val(filePath);
                    $('#preview_facture').html('<iframe  src="' + url + '" ' +
                        'type="application/pdf" width="100%" height="100%" ></iframe>');
                }
            })
        })
    </script>
{% endblock %}