{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configtypegenerationsociete</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ configTypeGenerationSociete.id }}</td>
            </tr>
            <tr>
                <th>Estgenere</th>
                <td>{% if configTypeGenerationSociete.estGenere %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if configTypeGenerationSociete.created %}{{ configTypeGenerationSociete.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ configTypeGenerationSociete.createdBy }}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if configTypeGenerationSociete.updateAt %}{{ configTypeGenerationSociete.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateby</th>
                <td>{{ configTypeGenerationSociete.updateBy }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configtypegenerationsociete_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('configtypegenerationsociete_edit', { 'id': configTypeGenerationSociete.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
