{% extends 'stockservice/template.html.twig' %}

{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Service </h6>
                <small> Liste des services</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow  table-responsive">
            <a type="button" class="btn btn-outline-dark" href="{{ path('stockservice_new') }}"
               style="margin-bottom: 10px;"><span class="oi oi-plus"></span> Nouveau service</a>
            {{ include("messageSucces.html.twig") }}

            <table class="table table-bordered dataTable">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Référence</th>
                    <th>Désignation</th>
                    <th>Unité Mesure</th>
                    <th>Prix Unitaire</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for service in stockServices %}
                    <tr>
                        <td><a href="{{ path('stockarticle_show', { 'id': service.id }) }}">{{ loop.index }}</a>
                        </td>
                        <td>{{ service.reference }}</td>
                        <td>{{ service.designation }}</td>
                        <td>{{ service.uniteMesure.libelle }}</td>
                        <td>{{ service.prixUnitaireVente }}</td>
                        <td>{{ service.created |date('d/m/Y') }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary" data-toggle="tooltip"
                                   data-placement="top" title="Voir"
                                   href="{{ path('stockservice_show', { 'id': service.id }) }}">
                                    <span class="oi oi-eye"></span>
                                </a>
                                <a class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                   title="Modifier"
                                   href="{{ path('stockservice_edit', { 'id': service.id }) }}">
                                    <span class="oi oi-pencil"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
