{% extends 'tiersclient/template.html.twig' %}

{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Client </h6>
                <small> Liste des clients</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow  table-responsive">
            <a type="button" class="btn btn-outline-dark" href="{{ path('tiersclient_new') }}"
               style="margin-bottom: 10px;"><span class="oi oi-plus"></span> Nouveau client</a>
            {{ include("messageSucces.html.twig") }}

            <table class="table table-bordered dataTable">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Référence</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tiersClient in tiersClients %}
                    <tr>
                        <td>
                            <a href="{{ path('tiersclient_show', { 'id': tiersClient.id }) }}">{{ loop.index }}</a>
                        </td>
                        <td>{{ tiersClient.code }}</td>
                        <td>{{ tiersClient.nom }}</td>
                        <td>{{ tiersClient.adresse }}</td>
                        <td>{{ tiersClient.telephone }}</td>
                        <td>{{ tiersClient.created | date('d/m/y') }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary" data-toggle="tooltip"
                                   data-placement="top" title="Voir"
                                   href="{{ path('tiersclient_show', { 'id': tiersClient.id }) }}">
                                    <span class="oi oi-eye"></span>
                                </a>
                                <a class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                   title="Modifier"
                                   href="{{ path('tiersclient_edit', { 'id': tiersClient.id }) }}">
                                    <span class="oi oi-pencil"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
{% endblock %}
