{% extends 'tiersclient/template.html.twig' %}

{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Client </h6>
                <small> Affichage d'un client</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <a class="btn btn-outline-dark" href="{{ path('tiersclient_index') }}"
               style="margin-bottom: 10px;"><span class="oi oi-arrow-left"></span> Retour à la liste</a>
            <a class="btn btn-outline-dark"
               href="{{ path('tiersclient_edit', { 'id': tiersClient.id }) }}"
               style="margin-bottom: 10px;"><span class="oi oi-pencil"></span>Modifier</a>
            {{ include("messageSucces.html.twig") }}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ tiersClient.code }}</td>
                </tr>
                <tr>
                    <th>Nom Client</th>
                    <td>{{ tiersClient.nom }}</td>
                </tr>

                <tr>
                    <th>Adresse</th>
                    <td>{{ tiersClient.adresse }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ tiersClient.telephone }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{% if tiersClient.mail %} {{ tiersClient .mail }} {% endif %}</td>
                </tr>
                <tr>
                    <th>N° IFU</th>
                    <td>{% if tiersClient.ifu %} {{ tiersClient.ifu }} {% endif %}</td>
                </tr>
                <tr>
                    <th>Pays</th>
                    <td>{% if tiersClient.pays %} {{ tiersClient.pays }} {% endif %}</td>
                </tr>
                <tr>
                    <th>Personne Morale</th>
                    <td>{% if tiersClient.estPersonneMoral %} Oui {% else %} Non {% endif %}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </main>
{% endblock %}
